// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#box{
	border: 2px solid black;
	padding: 5px;
}
table td p a{
	padding-right: 25px; 
}
table td p a:last-child{
	padding: 0;
}